{% extends '/index.html.twig' %}


{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <ul>
            {% for bureau in bureaux %}
                <li><p>{{ bureau.id }} | {{ bureau.nom }}</p></li>
            {% endfor %}
        </ul>

        <h2>Attribuer un bureau: </h2>
        {{ form(formRechAut) }}

        <h2>Libérer un bureau: </h2>

        {{ form(formLiberer) }}
    </div>

    <div class="container">
        <table>
            <thead>
            <tr>
                <td>Type de Demande</td>
                <td>Structure</td>
                <td>Etat</td>
                <td>Catégorie de la demande</td>
            </tr>
            </thead>
            {% for demande in lesdemandes %}
                <tr>
                    <td>{{ demande.getType() }}</td>
                    <td>{{ demande.getStructure() }}</td>
                    <td>{{ demande.getEtat() }}</td>
                    <td>{{ demande.getIdCategorie() }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
