{% extends "./base.html.twig" %}

{% block body %}
    <div class="container">

    <h1> Création Categorie</h1>

    {{ form_start(Formcategorie) }}
    {{ form_end(Formcategorie) }}

    </div>

{% endblock %}