{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div class="box">
        <h2>Connexion</h2>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="logged">
                    Connecté en tant que {{ app.user.username }} <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}


            <div class="inputBox">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputEmail">Email</label>
            </div>

            <div class="inputBox">
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label for="inputPassword">Password</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button  type="submit">Se Connecter</button>
        </form>
    </div>
{% endblock %}
