{% extends '/index.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(formSalleResCat) }}
        {{ form_end(formSalleResCat) }}
    </div>

{% endblock %}