{% extends '/index.html.twig' %}


{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ title }}</h2>
        {{ form(ligueInfos) }}
        {% if bureauetat == 0 %}
            <h2>Bureau:</h2>
            <p>Votre Structure n'as pas encore de bureau, si vous en souhaiter un vous pouvez faire une demande ici:</p>
            {{ form(demandeBureau) }}
        {% endif %}
    </div>

    <div class="container">
        <table>
            <thead>
            <tr>
                <td>Type de Demande</td>
                <td>Etat</td>
                <td>Catégorie de la demande</td>
            </tr>
            </thead>
            {% for demande in lesdemandes %}
                <tr>
                    <td>{{ demande.getType() }}</td>
                    <td>{{ demande.getEtat() }}</td>
                    <td>{{ demande.getIdCategorie() }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
