@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #182b3c;
}


.logo a {
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: #182b3c;
    text-decoration: none;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}



//LISTE DES SALLES
body {
    //display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #117a8b;
}
.container{
    padding: 40px 130px;
    align-content: center;
    background: #182b3c;
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    width: max-content;
    margin: 60px auto 30px auto;
    color: #FFF;

}
.container h2 {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px solid #fff;

}
.container ul li.salleliste {
    position: relative;
    width: max-content;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 5px;
}
.container ul.ul_submenu {
    display: none;
}


.container ul li.salleliste::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s,width 0.5s;
    transition-delay: 0.05s;
    border: 2px solid  #117a8b;
    box-sizing: border-box;
}
.container ul li.salleliste:hover::before {
    width: 100%;
    background: #117a8b;
    transition-delay: 0s,0.2s;
}
.container ul li.salleliste::after{
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: 0.5s;
    transition-delay: 0s;
}
.contrainer ul li.salleliste:hover::after{
    left: 24px;
    transition-delay: 0.5s;
    transform: rotate(12deg) scale(1.5);
}

.container ul.ul_submenu li.details {
    position: relative;
    width: max-content;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 5px;
}

.container ul.ul_submenu li.details::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.container ul.ul_submenu li.details::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    display: none;
}

.container button {
    background: #117a8b;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.container ul li p {
    position: relative;
    z-index: 10;
    padding: 5px 10px;
    color: #FFF;
}

//Tableau des demandes

.container table, th, td {
    text-align: center;
}
.container thead tr:first-child
{
    background-color: #999999;
}

.container tr:nth-child(odd)
{
    background-color: #117a8b;
}

.container tr:nth-child(even)
{
    background-color: #5eb5e0;
}

//Login Form

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    text-align: center;
}
.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}
.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #117a8b;
    font-size: 12px;
}
.box button {
    background: #117a8b;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.box  a {
    background: #117a8b;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    text-align:center ;
}
.box .logged {
    color: #ffffff73;
    margin-bottom: 1rem !important;

}