{% extends '/index.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {# LISTE DES FILTRES #}
    <div class="container">
        <label>Filtres</label>
        {% for categorie in categories %}
            <input type="checkbox" name="categorie" value="{{ categorie.id }}" onchange="toggleCheckbox(this)"/>{{ categorie.libelle }}
        {% endfor %}
    </div>

    {# LISTE DES SALLES #}
    <div class="container">
        <h2>{{ title }}</h2>
        <ul id="sallereservable">
            {{ include('salle/listeSallesEmbed.html.twig') }}
        </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function toggleCheckbox() {

            //Interdition d'avoir plusieurs checkbox coché
            $("input:checkbox").on('click', function() {
                let $box = $(this);
                if ($box.is(":checked")) {
                    let group = "input:checkbox[name='" + $box.attr("name") + "']";
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                } else {
                    $box.prop("checked", false);
                }
            });

            //AJAX REQUEST
            const idCategorie = parseInt($('input:checkbox[name="categorie"]:checked').val()); //récupération de l'id de la catégorie choisis
            $.ajax({ //initialisation de la requête AJAX grâce à JQuery
                method: "POST",
                url: "{{ path('salle') }}",
                data: {idcategorie: idCategorie},
                success: function(reponse){
                    $('#sallereservable').html(reponse);  //envoie de la réponse en format html dans la liste avec l'id sallereservable
                }
            });
        }
    </script>

{% endblock %}
