{% for salle in salleReservable %}
    <li class="salleliste"><p>{{ salle.nom }}</p></li>
    <ul class="ul_submenu">
        <li class="details"><p>La Salle {{ salle.nom }} est situé au
                {% if salle.etage.numero ==0 %}
                Rez de chaussée
            {% else %}
                {% if salle.etage.numero == 1 %}
                    {{ salle.etage.numero }} er etage
                {% else %}
                    {{ salle.etage.numero }} ème etage
                {% endif %}
                {% endif %}du Batiment {{ salle.etage.idbatiment.nom }}</p>
        </li>
    </ul>
{% endfor %}

<script>
    $(document).ready(function() {
        //SHOW DETAILS
        $('li.salleliste').click(function (e) {
            e.preventDefault();
            $(this).next().toggle();
            return false;
        });

    });
</script>