<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('liste') }}
        {% endblock %}
    </head>
{% endblock %}
<body>
{% block header %}
    <header>
        <h1 class="logo" ><a href="/">M2L</a></h1>
        <nav>
            <ul class="nav__links">
                {% if is_granted('ROLE_RESPLIGUES') %}
                    <li><a href="{{ path('salleResa') }}">Liste des Salles</a></li>
                    <li><a href="{{ path('ligue') }}">Ma Ligue</a></li>
                    <li><a href="{{ path('newresa') }}">Nouvelle Réservation Salle</a></li>
                {% endif %}
                {% if is_granted('ROLE_SECRETAIRE') %}
                    <li><a href="{{ path('bureaudisponible') }}">Liste des Bureaux</a></li>
                    <li><a href="{{ path('formTarif') }}">Modification Tarif</a></li>
                    <li><a href="{{ path('creecategorie') }}">Nouvelle Categorie</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADHERENT') %}
                <li><a href="{{ path('salle') }}">Liste des Salles</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="cta" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="cta" href="{{ path('connexion') }}">Connexion</a>
        {% endif %}
        <p class="menu cta">Menu</p>
    </header>
{% endblock %}

{% block body %}{% endblock %}
{% block menu %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
