<html>
        <body>


        <h1> Listes des Categories</h1>


        {% for categorie in categories %}
                <li>{{ categorie.libelle }}</li>
        {% endfor %}

        </body>
</html>
