{% extends '/index.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}



    <div class="container">
        <h1> Modification des Tarifs</h1>

        {{ form_start(formTarif) }}
        {{ form_end(formTarif) }}
    </div>




{% endblock %}